

/* HOME PAGE STYLING */

body {
	background-color: black;	
}

#header-container {	
	display: block;
	background-color: black;
	border: ;
	color: white;
	cursor: default;
	padding: 0px 0px 0px 0px;
	float:left;
	margin: 0px 0px 0px 40px;
	
}

.title-list {
	float:center;
	display:inline;
	margin-left: 130px;
	margin-right: 300px;
	font-size: 60px;
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	border:;
	color:white;

}

#header-container-two {
	
}

#header-container-three {
	margin-left: 385px;
	display: inline-block;
	margin-top: 20px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left:1px	solid white;
}

#header-container-three img {
	margin-right: 20px; 
	margin-top: 20px;
}

#header-container-three p {
		
}


.andy-email {
	color: white;
	display: inline-block;
	font-size: 35px;
	margin-left: 15px;
	font-family: 'EB Garamond', serif;
	float: center;
	border-right: 
	border-bottom: 1px solid white;
	border-left:1px	solid white;
	padding:15px;
		
}



.img-wrapper {
	display: inline;
	
}

.row-one img {
	float: left;
}

.row-two {
	position: relative;
	clear: left;
	margin-left: 0px;
	margin-right: 0px;
	float: left;
}

.row-three {
	clear: left;
}

.row-four {
	clear: left;
}

.row-five {
	clear: left;
}

/* BIO STYLING */ 

.andy-bio-header {

}

.andy-bio-nav {

}

.andy-bio-wrapper {

}



/* BOEKE STYLING */

.andy-boeke-header {

}

.andy-boeke-nav {

}

.andy-boeke-wrapper {

}











