/* HOME PAGE STYLING */

body {
	background-color: black;
	margin: 0;	
}

#header-container {
	font-size: 10px;
}
.andy-email {
	color: white;
	display: inline-block;
	font-size: 15px;
	margin-left: 15px;
	font-family: 'EB Garamond', serif;
	float: center;
	border-right: 
	border-bottom: 1px solid white;
	border-left:1px	solid white;
	padding:15px;
		
}

/* MOBILE RESPONSIVE */

@media all and (min-width: 380px) {

	#header-container {
		display: block;
		margin-left: 385px;
		display: inline-block;
		margin-top: 20px;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		border-left:1px	solid white;
	}

	.andy-email {
		color: white;
		display: inline-block;
		font-size: 35px;
		margin-left: 15px;
		font-family: 'EB Garamond', serif;
		float: center;
		border-right: 
		border-bottom: 1px solid white;
		border-left:1px	solid white;
		padding:15px;
			
	}

	.img-display-two {
		opacity: .6;
		transition: all .5s;
	}	
	
	.img-display-three {
		opacity: .6;
		transition: all .5s;
	}

	#image-container {
		max-width: 1430px;
		margin-left: auto;
		margin-right: auto;
	}

	.img-wrapper {
		max-width: 1430px;
		margin-left: auto;
		margin-right: auto;
	}

	.title-list {
		margin-left: auto;
		margin-right: auto;
		max-width: 1430px;
	}
} 

/* END OF MOBILE RESPONSIVE */


#title-container li.title-list {
	float:center;
	display:inline;
	margin-left: 130px;
	margin-right: 300px;
	font-size: 60px;
	font-family: 'EB Garamond', serif;
	font-weight: bold;
	border:;
	color:white;
	max-width: 
}


#header-container-three p {
		
}

a,
a:link,
a:visited {
	color: white;
	text-decoration: none;
	font-weight: normal;
}

a:hover,
a:active {	
	color: grey;
}

.img-display-two {
	opacity: .6;
	transition: all .5s;
	width: 100%;
	max-width: 700px;
}

.img-display-three {
	opacity: .6;
	transition: all .5s;
	width: 100%;
	max-width: 466px;
}

.img-display-two:hover {
	opacity: 1;
	transform: scale(1.00);
	border: 2px solid white;

}	

.img-display-three:hover {
	opacity: 1;
	transform: scale(1.00);
	border: 2px solid white;

}	
.nav-main {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	padding:15px;
	background-color: white;
}
.nav-main li {
	display: inline;
	margin-right: 60px;
	margin-left: 25px;
}

.nav-main a,
.nav-main a:link,
.nav-main a:visited {
	color: black;
	text-decoration: none;

}

.nav-main a:hover,
.nav-main a:active {
	color: grey;
}



.img-wrapper {
	
}

.row-one img {
	float: left;
}

.row-two {
	position: relative;
	clear: left;
	margin-left: 0px;
	margin-right: 0px;
	float: left;
}

.row-three {
	clear: left;
}

.row-four {
	clear: left;
}

.row-five {
	clear: left;
}

/* BIO STYLING */ 

.andy-bio-container {
	
}

.andy-bio-wrapper {
	float: center;
	border: ;
	padding-left: 190px;	
}

/* BOEKE STYLING */

.andy-boeke-header {
	
	}

.andy-boeke-wrapper {
	float: center;
	border: ;
	padding-left: 190px;	

}











